@import url(https://fonts.googleapis.com/css?family=Gudea);

form {
  font-family: 'Gudea', Helvetica, sans-serif;
  margin: 0;
  paddong: 0;
  color: #333;
}

form *, form *:before, form *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.main {
  padding: 2em;
  margin: 0 auto;
  max-width: 18%;
  min-width: 260px;
}

form h3 {
  text-align: center;
  margin: 0 0 1.2em 0;
  line-height: 150%;
}


form a {
  color: #2A817C;
}

form a:active,
form a:focus,
form a:hover {
  color: #E87A31;
}



.activeradioholder {
	background: #39A9A4;
	color: #fff;
}

.radioholder .desc {
	display: inline-block;
	vertical-align: middle;
	padding-left: .6em;
	line-height: 2.4em;
}

.radioholder .tick {
	display: inline-block;
	vertical-align: middle;
	width: 2.4em;
	height: 100%;
	background-color: #eee;
	background-image: none;
	-o-transition: .1s ease-out;
	-ms-transition: .1s ease-out;
	-moz-transition: .1s ease-out;
	-webkit-transition: .1s ease-out;
	transition: .1s ease-out;
}

.activeradioholder .tick {
	background-color: #2A817C;
	background-image: url('http://supereightstudio.com/img/radio_tick.png');
	background-size: cover;
}



.activeradioholder:hover {
	background-color: #39A9A4;
}

.activeradioholder:hover .tick {
	background-color: #2A817C;
}

.selectholder {
  clear: both;
	width: 100%;
	background: #eee;
	margin-bottom: 1em;
	font-size: 1.3em;
	height: 2.4em;
	color: #666;
	-o-transition: .1s ease-out;
	-ms-transition: .1s ease-out;
	-moz-transition: .1s ease-out;
	-webkit-transition: .1s ease-out;
	transition: .1s ease-out;
	cursor: pointer;
}

.selectholder .desc {
	display: inline-block;
	vertical-align: middle;
	padding-left: .8em;
	line-height: 2.4em;
}

.selectholder .pulldown {
	float: right;
	vertical-align: middle;
	width: 2.4em;
	height: 100%;
	background-color: #ddd;
	background-image: url('http://supereightstudio.com/img/pulldown.png');
	background-size: cover;
	-o-transition: .1s ease-out;
	-ms-transition: .1s ease-out;
	-moz-transition: .1s ease-out;
	-webkit-transition: .1s ease-out;
	transition: .1s ease-out;
}

.selectholder:hover,
.activeselectholder {
	background-color: #ddd;
}

.selectholder:hover .pulldown,
.activeselectholder .pulldown {
	background-color: #333;
	background-image: url('http://supereightstudio.com/img/pulldown_hover.png');
}

.selectholder .selectdropdown {
	position: relative;
	top: 0;
	left: 0;
	background: #333;
	color: #fff;
	display: none;
	clear: both;
}

.selectholder .selectdropdown span {
	display: block;
	border-bottom: solid 1px #555;
	padding-left: .8em;
	line-height: 2.4em;
	width: 100%;
	-o-transition: background-color .1s ease-out;
	-ms-transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out;
	-webkit-transition: background-color .1s ease-out;
	transition: background-color .1s ease-out;
}

.selectholder .selectdropdown span:last-child {
	border-bottom: none;
}

.selectholder .selectdropdown span.active {
	background-color: #2A817C;
	background-image: url('http://supereightstudio.com/img/radio_tick.png');
	background-repeat: no-repeat;
	background-size: 1.6em 1.6em;
	background-position: 98% 50%;
}

.selectholder .selectdropdown span:hover {
	background-color: #555;
}
